html {
    font-family: sans-serif;
}

.container {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    vertical-align: middle;
    margin: auto;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
}

.balloon5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    padding-bottom: 5vh;
}

.balloon5 .faceicon {
    float: left;
    margin-right: -70px;
    width: 80px;
}

.balloon5 .faceicon img {
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
}

.balloon5 .chatting {
    width: 100%;
}

.says {
    display: inline-block;
    position: relative;
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
}

.says p {
    margin: 0;
    padding: 0;
}